/* General bootstrap styling */
html {
	overflow-y: scroll;
}

html, body {
	font-family: sans-serif;
	height: 100%;
}

.global-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5em; /* the bottom margin is the negative value of the footer's height */
}

.global-footer, .global-footer-push {
	height: 5em; /* push must be the same height as footer */
}

.global-footer {
	background: #cccccc;
	box-sizing: border-box; /* Maintains height while allowing padding */
	color: #ffffff;
	padding: 1em;
	position: relative;
	text-align: center;
}

/* Text stylings */
h1 {
	font-size: 3em;
}

/* Navigation stylings */

nav {
	background: #000000;
	color: #cccccc;
	position: relative; /* so that dropdowns can stick to the bottom of the nav */
	width: 100%;
	z-index: 50; /* to keep nav in front of other objects */
}

nav::before, nav::after { /* Clearfixes */
	content: "";
	clear: both;
	display: table;
}

nav ul {
	background: #000000; /* don't like this, but needed for dropdown background */
	list-style: none;
}

nav li {
	float: left;
	overflow: hidden;
	text-align: center;
	width: 12.5%; /* 100 divided by number of li items */
}

/* Navigation links */
nav a {
	color: inherit;
	display: block;
}

nav a:focus,
nav a:active,
nav a:hover,
nav .active,
open a {
	color: #ffffff;
} 

nav a::before { /* Navigation icons */
	content: "";
	display: block;
	height: 40px; /* can be whatever size icon you want, just make sure it fits within the nav li */
	background: url(../images/40x40-filler-icon.png) top center no-repeat; /* You would want to replace this image with a sprite collection image and set position for each li */
}

/* Drop down navigation */
nav li ul {
	background: #111111; /* Subtle difference */
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 100; /* So early dropdowns can cover lower nav links */
}

nav li.open ul { 
	display: block;
}

.dropdown-toggle span::after { /* dropdown arrow using border fanciness */
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #cccccc;
	content: "&darr;";
	display: inline-block;
	height: 0;	
	margin-top: 8px;
	margin-left: 4px;
	text-indent: -99999px;
	vertical-align: top;
	width: 0;
}

/* Small screen stylings go here */
nav span {
	display: none;
}

/*	Retina media query.  Overrides styles for devices with a  device-pixel-ratio of 2+, such as iPhone 4. */
@media  only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	
}

/*	Wide Mobile Layout: 480px and up */
@media only screen and (min-width: 480px) {
	
}

/* Tablet layout: 768px and up */
@media only screen and (min-width: 768px) {
	
	nav a {
		padding: 1em 0;
	}
	
	nav span {
		color: inherit;
		display: block;
	}
}

/* Desktop layout: 991px and up */
@media only screen and (min-width: 991px) {
	
	nav a {
		padding: 1em;
	}
}