/* General bootstrap styling */
html, body {
	font-family: sans-serif;
	height: 100%;
}

.global-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -5em; /* the bottom margin is the negative value of the footer's height */
}

.global-footer, .global-footer-push {
	height: 5em; /* push must be the same height as footer */
}

.global-footer {
	background: #cccccc;
	box-sizing: border-box; /* Maintains height while allowing padding */
	color: #ffffff;
	padding: 1em;
	position: relative;
	text-align: center;
}

/* Text stylings */
h1 {
	font-size: 3em;
}

/* Navigation stylings */

nav {
	background: #000000;
	color: #cccccc;
	position: relative; /* so that dropdowns can stick to the bottom of the nav */
	width: 100%;
}

nav::before, nav::after { /* Clearfixes */
	content: "";
	clear: both;
	display: table;
}

nav ul {
	background: #000000; /* don't like this, but needed for dropdown background */
	list-style: none;
}

nav li {
	float: left;
}

/* Navigation links */
nav a {
	color: inherit;
	display: block;
	padding: 1em;
}

nav a:focus,
nav a:active,
nav a:hover,
nav .active {
	color: #ffffff;
} 

/* Drop down navigation */
nav li ul {
	background: #111111; /* Subtle difference */
	display: none;
	left: 0;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 100; /* So early dropdowns can cover lower nav links */
}

nav li.open ul { 
	display: block;
}
